.header .navbar {
    background-color: #3B9A44;
}

/*header styles*/
.header .container {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.header .container a {
    color: black !important;
    opacity: 0.7;
    font-family: 'Lobster', cursive !important;
    font-size: 2rem !important;

    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.header .container a:hover {
    color: black !important;
    opacity: 1;
}

.header .container {
    padding: 0.5rem;
}

.header .container.scrolled {
    padding: 1rem;
}

.header .container.scrolled .nav.navbar-nav a {
    font-size: 2rem !important;
}

.header .container.scrolled a {
    font-size: 2.5rem !important;
}

.header-text {
    text-align: center;
}

.header-text .price {
    font-size: 6rem;
    color: #333;
    border: 0.3rem solid;
    padding: 1rem;
    display: inline-block;
}

/*row*/

#intro {
    padding-top: 20rem;
}

#intro h1 {
    text-align: center;
}

section {
    width: 100%;
    position: relative;
    text-align: justify;

}

.separator {
    margin-top: 3rem;
    border-bottom: 0.2rem solid #3B9A44;
}

#footer {
    background-color: #3B9A44;
    height: 2rem;
}

@media screen and (min-width: 768px) {
    #intro h1 {
        font-size: 60px !important;
    }
}

@media screen and (max-width: 990px) {
    .header-text .price {
        font-size: 4rem;
    !important;
    }

    .hidden-phone {
        display: none;
    }
}

@media screen and (max-width: 1160px) {
    .hidden-tablet {
        display: none;
    }
}

#map-canvas {
    height: 300px;
    margin: 0;
    padding: 0
}

.header-ms-text {
    text-align: center;
    font-family: 'Lobster', cursive !important;
}

.header-ms-text .fa {
    margin-right: 1rem;
    color: #3B9A44;
}

.col-md-6 {
    text-align: center;
}

.pre-nav-bar {
    background-color: white;
    width: 100%;
    height: 11rem;
    overflow: hidden;
}

.pre-nav-bar p.lead {
    margin-bottom: 1rem;
}

.pre-nav-bar img {
    display: block;
}

.pre-nav-bar .price {
    color: #3B9A44;
    font-family: 'Lobster', cursive !important;
}

#logo {
    float: left;
}

.pre-nav-bar .info {
    text-align: left;
    margin-top: 1rem;
}

.sale {
    font-family: 'Lobster', cursive !important;
    text-align: center;
    color: darkred;
}

#contacts h2 {
    text-align: center;
}

#carousel img {
    margin: auto;
}
